<!DOCTYPE HTML>
<html>
<head>
    <title id="title">신조어사전</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/sketchy/bootstrap.min.css">
    <script>
        function searchWord() {
            var word = $('#inputDefault').serialize();
            word = decodeURIComponent(word);
            var uri = "/word?";
            uri += word;
            uri += '%C2%A0';
            window.location.href = uri;
        }
    </script>
    <link href="https://fonts.googleapis.com/css?family=Yeon+Sung&display=swap" rel="stylesheet">
    <style>

        #title {
            font-family: 'Yeon Sung', cursive;
        }

        #inputDefault {
            width: 24rem;
            font-family: 'Yeon Sung', cursive;
            font-size: 20.5px;
        }

        #search-button {
            font-family: 'Yeon Sung', cursive;
            font-size: 20.5px;
        }

        @media (max-width: 800px) {
            #inputDefault {
                width: 12rem;
            }
        }

        #maintitle {
            font-family: 'Yeon Sung', cursive;
            font-size: 27px;
        }


    </style>
</head>
<body>
<div class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
    <div class="container">
        <a href="/main" class="navbar-brand" id="maintitle">신조어 사전</a>
        <!--드랍다운 메뉴 보류-->
        <!--<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" style="border: 1px solid red;">
            <span class="navbar-toggler-icon"></span>
        </button>-->
        <div id="test">&nbsp;</div>
        <div class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" id="inputDefault"
                   placeholder="Search" name="mean">
            <button class="btn btn-secondary my-2 my-sm-0" id="search-button" onclick="searchWord()" type="submit">Search</button>
        </div>
        <div id="test">&nbsp;</div>
        <div id="test">&nbsp;</div>
        <div id="test">&nbsp;</div>


        <!--드랍다운 메뉴버튼 보류-->
        <!--<div class="collapse navbar-collapse" id="navbarResponsive"
             style="border: 1px solid mediumvioletred;">

            <ul class="navbar-nav" style="border: 1px solid green;">
                 <li class="nav-item">
                     <a class="nav-link" href="https://blog.bootswatch.com">Blog</a>
                 </li>
                 <li class="nav-item dropdown">
                     <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="download">Sketchy <span
                             class="caret"></span></a>
                     <div class="dropdown-menu" aria-labelledby="download">
                         <a class="dropdown-item" target="_blank" href="https://jsfiddle.net/bootswatch/gbuemo39/">Open
                             in JSFiddle</a>
                         <div class="dropdown-divider"></div>
                         <a class="dropdown-item" href="../4/sketchy/bootstrap.min.css" download>bootstrap.min.css</a>
                         <a class="dropdown-item" href="../4/sketchy/bootstrap.css" download>bootstrap.css</a>
                         <div class="dropdown-divider"></div>
                         <a class="dropdown-item" href="../4/sketchy/_variables.scss" download>_variables.scss</a>
                         <a class="dropdown-item" href="../4/sketchy/_bootswatch.scss" download>_bootswatch.scss</a>
                     </div>
                 </li>
                <li class="nav-item">

                </li>
            </ul>
        </div>-->
    </div>
</div>
