{{>layout/header}}
<div class="col-md-12">
    <br><br>
    <div class="row">
        <div class="col-md-6">
            <a href="/api/v1/wikiwords" role="button" class="btn btn-primary">위키단어업로드</a>
        </div>
    </div>
    <br>
    <!--<table class="table table-horizontal table-bordered">
        <thead class="thead-strong">
        <tr>
            <th>번호</th>
            <th>단어</th>
            <th>정의</th>
        </tr>
        </thead>
        <tbody id="tbody">
        {{#words}}
            <tr>
                <td>{{id}}</td>
                <td>{{title}}</td>
                <td>{{content}}</td>
            </tr>
        {{/words}}
        </tbody>
    </table>-->

    <div id="content" style="border: 1px solid red;">
        {{#words}}
            <div class="panel" style="border: 1px solid blue;">
                <div class="id" style="border: 1px solid green;">{{id}}</div>
                <div class="title" style="border: 1px solid purple;">{{title}}</div>
                <div class="content" style="border: 1px solid yellow;">{{content}}</div>
            </div>
        {{/words}}
    </div>

</div>
{{>layout/footer}}